*, a, li {
  margin: 0 auto;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
   
}
body {
  animation: gradient 10s ease alternate infinite;
  scroll-behavior: smooth;
  background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab) no-repeat;

     
}
.container_header{
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  height: 70px;
  margin-top: 5px;
  background-color: rgb(39, 152, 114);
  border-radius: 50px;
background: #d0ff14;
box-shadow: inset -4px 4px 10px #549338,
            inset 4px 48px 10px #7edd54;
}
.menu {
  display:flex;
  justify-content: space-between;
  gap: 3rem;
  font-size: 1.5rem;
  letter-spacing: 5px;
  padding: 10px;
  
  
   
}
.menu>li{
  width: auto;
  padding: 10px;
  border-radius: 20px;
  background:linear-gradient(315deg, #64a34a, #5defc8);
  box-shadow: inset -8px -8px 10px #6AEA5E,
            inset 8px 8px 10px #308EEA;


 
}
.menu>li:hover {
border-radius: 20px;
background: linear-gradient(315deg, #64a34a, #5defc8);
box-shadow:  -8px -8px 10px #549338,
             8px 8px 10px #b82035;           
}

.img_header{
  width: 130px;
  filter:drop-shadow(0 0 5px #000);
  border-radius: 10px;
  
}
.container_main {
  display: inline-flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
   height: 630px;
     width: 100vw;
  
  
}
.container_main>:nth-child(1) {
  font-size: 4.8rem;
  width: 450px;
}
.container_main>:nth-child(2) {
  margin-top: 60px;
  font-size: 2rem;
 text-align: justify;
  width: 400px;
  border-right: 10px;
 
}

.container_main>:nth-child(3){
  width: 500px;
  border-radius: 15px;
  filter:drop-shadow(0 0 3px #000)
}
.container_card {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 800px;
  border-radius: 20px;
  background: rgba(15, 207, 162, 0.5);
  
  margin: 0 auto;
  padding: 30px;
}
 
.card1 {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  height: 320px;
  width: 200px;
  text-align: center;
  border-radius: 30px;
  background: linear-gradient(145deg, #395d90, #35f2b3);
  box-shadow:  2px 2px 6px #4c973c,
             -2px -2px 6px #b82035;
                     
            
}


.card1:hover {

  border-radius: 30px;
  background: linear-gradient(145deg, #395d90, #2566a8);
  box-shadow:  20px 20px 60px #4c973c,
             -20px -20px 60px #2ea3c7;
}
.card1>:nth-child(1){
    margin: 15px;
}
.button-3D {
  position: relative;
  top:0;
  left:0;
  padding: 10px 15px;
  border: 0;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
  background: #34a2c7;
  color: #f5f5f5;
  box-shadow: 6px 6px  rgba(0, 0, 0, 0.5);
  transition: 0.15s;

}
.button-3D:hover {
  top: 3px;
  left: 3px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}
.button-3D:active {
  top: 6px;
  left: 6px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.65);
}
.button-3D:focus {
  outline: none;
}
@keyframes gradient {
  from {
   background-position: 0 50%;
  }
  to {
   background-position: 100% 50%;
  }
 
}



